

.book-seats {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.booking-header h1 {
  text-align: center;
  margin-bottom: 20px;
}


.cinema-seats {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  align-items: center;
}

.row-label {
  font-weight: bold;
  margin-right: 10px;
}

.seats {
  display: flex;
  border-radius: 50%;
}
.seat.available {
  background-color: #00c04b; 
}

.movie-info img {
  max-width: 250px; 
  height: auto; 
  display: block;
  margin: 0 auto; 
}

.movie-poster {
  max-width: 200px;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-bottom: 0px; 
}

.divider {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  margin: 20px auto;
  width: 80%; 
}

.movie-title {
  text-align: center;
  margin: 20px 0;
  color: black; 
}
.show-dates{ 
  margin-top:20px; 
  font-size:1.2em;
  text-align: center; 
}


.show-times{ 
  margin-bottom: 20px;
  font-size:1.5em; 
  text-align: center; 
} 

.seat-key {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.key-item {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
}

.circle.available {
  background-color: #00c04b;
}

.circle.selected {
  background-color: red;
}

.circle.taken {
  background-color: gray;
}

.cinema-seats::before {
  content: '';
  display: block;
  margin: 0 auto 20px;
  width: 80%;
  height: 20px;
  border-top: 2px solid #ccc;
  border-radius: 50%/100%;
}

.next-button {
  background-color: darkblue;
  color: white;
  padding: 10px 30px;
  border: none;
  cursor: pointer;
  margin-top: 5px;
  border-radius: 0;
}

