.edit-profile-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.edit-profile-form input[type="text"],
.edit-profile-form input[type="email"],
.edit-profile-form input[type="tel"],
.edit-profile-form input[type="password"],
.edit-profile-form input[type="number"] { 
    width: 95%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;

}

.edit-profile-form {
    display: flex;
    flex-direction: column;

}

.edit-profile-container h2 {
    text-align: center;
    color: #5c6bc0;
    font-size: 35px;
}

.edit-profile-form label {
    margin-bottom: 10px;
    color: #333;
    display: flex;
    flex-direction: column;

}


.edit-profile-form button {
    padding: 10px 20px;
    background-color: #5c6bc0;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.edit-profile-form button:hover {
    background-color: #3f51b5;
}

body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

.optional-field {
    color: #666;
    font-style: italic;
}

.edit-profile-form button[type="button"] {
    background-color: #e0e0e0;
    color: #333;
    margin-bottom: 15px;
    border: 1px solid #5c6bc0;
}

.edit-profile-form button[type="button"]:hover {
    background-color: #d5d5d5;
}
