html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: #081752;
}

.App {
    background-color: #081752;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.movies-and-search-container {
    padding: 20px;
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #081752; 
}

h2 {
    font-weight: 700;
    font-size: 1.5em;
    color: rgb(255, 253, 253);
    margin-bottom: 10px;
}


select,
input,
button {
    padding: 8px;
    margin-right: 10px;
    font-size: 16px;
    border-radius: 20px; 
    border: 1px solid #ccc; 
}

button {
    font-size: 16px;
    background-color: #4a90e2; 
    color: white;
    border: 2px solid #4a90e2; 
    cursor: pointer; 
    padding: 10px 20px; 
    transition: all 0.3s; 
}

button:hover {
    background-color: #367cd5; 
    border-color: #367cd5;
}

.search-container {
    background-color: #081752;
    display: flex; 
    align-items: center;
    justify-content: center; 
    margin-top: 20px; 
}

.current-movies-container {
    background-color: #081752;
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap; 
}

.coming-soon-movies-container {
    background-color: #081752;
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap; 
    margin-top: 30px;
}

.movie-card {
    background-color: #081752;
    margin: 10px;
    text-align: center;
}

.movie-card img {
    width: 200px; 
    height: 300px; 
    object-fit: cover; 
}

.movie-card h3 {
    margin-top: 5px; 
}

.list {
    display: flex;
    margin-top: 20px;
}

.mov {
    padding-right: 50px;
}

.modal-backdrop {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(5, 5, 5, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
}

.modal {
    background-color: white; 
    padding: 20px;
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    width: 500px;
    z-index: 1001;
}

.modal iframe {
    margin-top: 20px; 
    width: 100%;
    height: 315px; 
    border: none; 
}

.modal button {
    margin-top: 20px;
    background-color: #4a90e2; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    border-radius: 20px; 
    cursor: pointer;
}

.modal button:hover {
    background-color: #367cd5;
}

.modal h2 {
    color: black;
    margin-bottom: 20px;
}

.bttns {
    display: flex;
    justify-content:space-between
}

p {
        font-weight: 700;
        font-size: 1.5em;
        color: rgb(255, 253, 253);
        margin-bottom: 10px;
}
.coming-soon-heading {
    margin-top: 40px; 
  }

.list .movie-title {
    margin-top: 10px;
    margin-bottom:10px; 
    font-size:1.1em; 
    color: #ffffff; 
  }
  