.ret {
    margin: 0 auto;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
    background-color: #f9f9f9; 
    max-width: 600px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.ret h2 {
    color: #333; 
    font-weight: 600; 
}

.items {
    padding: 20px; 
    width: 100%; 
}



li {
    display: flex;
    align-items: center; 
    justify-content: center; 
    padding-top: 10px;
}

li strong {
    flex-grow: 1;
}

li button {
    white-space: nowrap;
}

ul {
    list-style-type: none; 
    padding: 0;
}

.style {
    display: flex;
    flex-direction: column;
    align-items: center;
}
